php_value date.timezone America/Los_Angeles
php_value error_reporting "E_ALL & ~E_NOTICE"

Options -Indexes

<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(\d{4}-\d{0,2}-\d{0,2}-.*)\.html?$ index.php?id=$1 [QSA,L]

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)\.html$ index.php?page=$1 [QSA,L]

	RewriteCond %{HTTP_REFERER} !^http://(.+\.)?cloakedcode(\.com)?/ [NC]
	RewriteCond %{HTTP_REFERER} !^$
	RewriteRule .*\.(jpe?g|gif|bmp|png)$ http://img148.imageshack.us/img148/237/hotlinkp.gif [QSA,L]
</IfModule>
