* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f2f4eb;
	font-family: Georgia, sans-serif;
	font-size: 16px;
	line-height: 1.3em;
}

h1, h2, h3, h4 {
	font-family: Helvetica, arial, serif;
}

h2, h3, h4 {
	margin-top: 15px;
	margin-bottom: 5px;
}

p {
	margin-bottom: 3px;
}

a {
	text-decoration: none;
	color: #09a505;
	padding: 1px;
}

a:hover {
	background-color: #09a505;
	color: #fff;
}

hr {
	margin-top: 15px;
	margin-bottom: 25px;
}

#header {
	padding: 25px 0px 25px 0px;
	text-align: center;
	border-bottom: 1px dashed lightgray;
	font-family: Helvetica, arial, serif;
}

#title {
	line-height: 55px;
	font-size: 55px;
}

#title a {
	color: #612a03;
	text-shadow: 0px 0px 2px #000;
}

#title a:hover {
	background-color: #f2f4eb;
}

#nav ul {
	margin-top: 10px;
	list-style: none;
}

#nav li {
	display: inline;
}

#content {
	width: 500px;
	margin: auto;
	padding-top: 30px;
}

#footer {
	font-size: 75%;
	margin-top: 25px;
	padding: 5px;
	border-top: 1px dashed lightgray;
	text-align: center;
}

.date {
	font-size: 80%;
	margin-top: 6px;
	margin-left: 1px;
	color: gray;
}

.post-content {
	margin-top: 15px;
}
