* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f2f4eb;
	font-family: 'Cantarell', arial, serif;
}

h1, h2, h3, h4 {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #612a03;
}

p {
	margin-bottom: 3px;
}

a {
	color: #09a505;
}

hr {
	margin-top: 15px;
	margin-bottom: 15px;
}

#header {
	padding-bottom: 10px;
	text-align: center;
}

#title {
	margin-top: 10px;
	line-height: 65px;
	font-size: 65px;
}

#title a {
	color: #612a03;
	text-shadow: 0px 0px 2px #000;
	text-decoration: none;
}

#nav ul {
	margin-top: 10px;
	list-style: none;
}

#nav li {
	display: inline;
}

#content {
	width: 800px;
	margin: auto;
}

.date {
	font-size: 80%;
	margin-bottom: 10px;
}
